
@model NEWefficiencyTool.ModelsDB.Task
@{
    ViewData["Title"] = "TakenKey";
}
@*This view is displayed if the user enters a task key that is already taken*@
<h1>Wrong task ID</h1>
<h4>You have entered a task ID which is already taken</h4>

<div>
    <a asp-action="Create">Try again</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
