@{
    ViewData["Title"] = "Sākums";
}

<div class="text-center">
    <h1 class="display-4">Sveicināti!</h1>
    <p>Pieslēdzies sistēmai, lai sāktu darbu</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
